.main-description {
  margin-bottom: 110px;
}

.main_decription__text {
  margin: 0;  
  font-family: $Montserrat-font-family;  
  font-weight: bold;
  font-size: 150px;  
  line-height: 0.933;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}
