.site-description {
  margin-bottom: 48px;
}

.site-description__text {
  margin: 0;  
  font-family: $Kaushan-font-family;
  font-size: 72px;  
  line-height: 1.2;
  text-align: center;
  color: $primary-white-color;
}
