.team__description {
  margin: 0 auto 91px auto;
  width: 980px;
  text-align: center;
}

.team__text-description {
  margin: 0;    
  font-family: $Roboto-font-family; 
  font-size: 15px; 
  line-height: 1.6;
  color: $grey_153_color;
}
