:root {
  --color-sign: #323232;
  --color-price: #8c8c8c;
  --color-hover: #1abc9c;
  --color-h2: #515151;
  --color-sign-image-down: #555252;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
body {
  font-family: "Roboto", sans-serif;
}
.wrap {
  width: 1110px;
  margin: 0 auto;
  /* background: #cccccc; */
}
.nav {
  min-height: 21px;  
  margin-bottom: 98px;
}

.menu {
  list-style: none;
  min-width: 464px;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-item {
  float: left;
  margin-right: 33px;
}
.menu li:last-child {
  margin-right: 0;
}
.nav-a {  
  line-height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto-Black", sans-serif;
  color: var(--color-sign);
}
.nav-a:hover {
  color: var(--color-hover);
  cursor: pointer;
}
.logo-wrap {  
  line-height: 32px;  
  float: left;
  margin: 0;
}
.sign {
  margin: 0 auto;
  margin-bottom: 92px;
}
.sign-h {
  margin: auto;
  font-family: "Roboto-Black", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-h2);
  text-transform: uppercase;
  text-align: center;
}
.sign::after {
  content: "";
  display: block;
  height: 8px;
  width: 120px;
  margin: 0 auto;
  margin-top: 27px;
  background-color: var(--color-hover);  
}
.cards {
  margin-bottom: 70px;
  text-transform: uppercase;
  color: #ffffff;
}
.cards div:nth-child(4n) {
  margin-right: 0;
}
.card {
  float: left;
  width: 255px;
  height: 362px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  /* overflow: hidden; */
}
.card:hover {
  cursor: pointer;
  --color-sign: #1abc9c;
  --color-price: #7fd9c7;
}
.card-link {
  display: block;
  color: #fff;
  line-height: 322px;
  text-decoration: none;
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;  
}
.card-image {
  max-height: 322px;
  max-width: 100%;
  vertical-align: middle;
}

.image-down-side {
  display: block;
  line-height: 40px;
  height: 40px;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
}
.price {
  width: 54px;
  float: right;
  background-color: var(--color-price);
  padding-left: 10px;
}
.card-sign {
  margin: 0;
  padding-left: 10px;
  background-color: var(--color-sign);
}

/* section-2 */
.card-2 {
  float: left;
  width: 350px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 80px;
}
.card-2:hover {
  cursor: default;
}
.wrap-img-s2 {
  line-height: 262px;
}
.img-section-2 {
  margin-bottom: 5px;
  max-height: 262px;
  max-width: 100%;
  vertical-align: middle;
}
.sign-image-down {
  color: var(--color-sign-image-down);
  text-transform: none;
  font-family: "OpenSans-SemiBold";
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
  text-align: left;
}
.sign-image-down::after {
  content: "";
  display: block;
  height: 3px;
  width: 136px;
  margin-left: 0;
  background-color: var(--color-hover);
}
.sign-last {
  margin: 0;
  margin-bottom: 9px;
}
.post-down-wrap {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 13px;
  color: var(--color-sign-image-down);
}
.post-down {
  margin: 0;
  text-transform: none;
  text-align: left;
}
.clear-mr {
  margin-right: 0;
}
.btn {
  min-width: 160px;
  min-height: 51px;
  text-transform: capitalize;
  border-style: none;
  border-radius: 5px;
  background-color: #4ec6ab;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
}
