.back-ground-wrap{
  background: $primary-bg-color;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    top: 215px;
  }

  @media (min-width: 1280px) {    
    padding-bottom: 133px;
  }

  @media (min-width: 1680px) {
    padding-bottom: 0;
  }
}

.back-for-section-second {
  height: 518px;
  background-color: $primary-bg-color;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    height: 333px;
    background: url('../images/fire-background.png');
    background-size: cover; 
  }

  @media (min-width: 1280px) {
    height: 525px;
    background: url('../images/fire-background-1280.png');
    background-size: cover;
  }

  @media (min-width: 1680px) {
    height: 560px;
    background: url('../images/fire-background-1680.png');
    background-size: cover;
  }
}

.section-second {
  position: relative;
  top: -518px;
  box-shadow: 4px 6.928px 15.54px 5.46px rgba($secondary-text-color, 0.04);

  @media (min-width: 768px) {
    top: -330px;
  }

  @media (min-width: 1280px) {
    top: -500px;
  }
}

.section-second__title {
  margin: 0;
  padding-top: 48px;
  padding-bottom: 14px;
  line-height: 1.45;
  letter-spacing: 0.05em;
  text-align: left;
  color: $primary-white-color;

  @media (min-width: 768px) {
    line-height: 1.269;
  }
}

.section-second__menu {
  padding-left: 28px;
  padding-top: 40px;
  margin: 0;
  counter-reset: item;
  list-style: none;
  background-color: $primary-white-color;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }

  @media (min-width: 1280px) {
    padding-top: 79px;
  }
}

.section-second__items {
  padding: 0;
  position: relative;
  font-family: 'Montserrat';
  font-weight: 700;

  &::before {
    @include orange-rectangle;

    @media (min-width: 768px) {
      left: 30px;
    }

    @media (min-width: 1280px) {
      left: 53px;
    }
  }

  @media (min-width: 768px) {
    flex-basis: 262px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1280px) {
    flex-basis: 372px;
    padding-left: 53px;
    padding-right: 53px;
  }

  @media (min-width: 1680px) {
    flex-basis: 432px;
    padding-left: 62px;
    padding-right: 62px;
  }
}

.section-second__text {
  margin: 0;
  position: relative;
  padding: 0px 0 43px 0;

  @media (min-width: 1280px){
    padding-bottom: 70px;
  }
}

.section-second__text::before {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -26px;
  left: 34px;
  min-width: 50px;
  content: '0' counter(item);
  counter-increment: item;
  color: $primary-orange-color;

  @media (min-width: 1280px) {
    font-size: 20px;
    top: -32px;
  }
}

.section-second__wrap-subtitle {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    padding-right: 34%;
  }

  @media (min-width: 1280px) {
  }
}

.section-second__subtitle {
  position: relative;
  top: -518px;
  margin: 43px 0;
  line-height: 1.269;
  text-align: center;
  color: $primary-text-color;

  @media (min-width: 768px) {
    top: -333px;
  }

  @media (min-width: 1280px) {
    top: -433px;
    text-align: left;
    margin-left: 0;
  }
}

.line {
  background-color: $primary-orange-color;
  width: 25px;
  height: 2px;
}
