$primary-orange-color: rgb(255, 107, 8);
$primary-text-color:rgb(24, 25, 29); // #18191d;
$menu-color: rgb(185, 185, 185); //#b9b9b9
$primary-small-text-color: rgb(133, 133, 133); //#858585;
$primary-bg-color: rgb(17, 21, 23); // #111517
$primary-white-color: #ffffff;
$secondary-text-color: rgb(29, 29, 27); //1d1d1b
$another-text-color: rgb(224, 224, 224);
$primary-black-color: rgb(0, 0, 0); 
$secondary-bg-color: #546264;
$gray-color: #f1f1f1;

.color__span {
  color: $primary-orange-color;
}

