
$primary-white-color: #ffffff;
$invisible-white-color: rgba(1, 1, 1, 0);
$grey_51_color: rgb(51, 51, 51);
$grey_153_color: rgb(153, 153, 153);
$grey_204_color: rgb(204, 204, 204);
$pink_color: rgb(243, 129, 129);
$green_color: rgb(149, 225, 211);
$active-yellow-color: #fce38a;

// fonts =====================================

$Kaushan-font-family: 'Kaushan Script', cursive;
$Montserrat-font-family: 'Montserrat', sans-serif;
$Roboto-font-family: 'Roboto', sans-serif;